#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

#appName {
  font-size: 26px;
  font-weight: bold;
  display: flex;
}

#newProperty {
  margin-left: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  width: 26px;
  height: 20px;
  padding-top:5px;
  border: 1px solid lightseagreen;
  color: lightseagreen;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#page #user {
  text-align: right;
}

#page #user button {
  margin-left: 1em;
}